<header>

    <div id="top">
        <img src="/icons/trackericon.bmp" alt="">
    </div>
    <div id="bottom">
        <a href="/" ><img src="/icons/house.svg">&nbsp;Homepage<span></span></a>
        <!-- <a href="">Issues</a> -->
    </div>
 
</header>