#project-list{

   width:100%;
   height:auto;
   padding: 25px 55px ;
   position: relative;

   .Createnewbtn{
    color: aliceblue;
    font-weight: 600;
    padding: 9px 15px; 
    border-radius: 7px;
    background-color: #1f883d;
    cursor: pointer;
    position: absolute;
    right:30px;
    top:40px;
    }

   .Createnewbtn:hover{
    color: white;
      background-color:#187231;
    }

   h3{
    color:#787a7d;
    font-weight:400;
    font-size: 1.2rem;
   }

    ul{
        list-style: none;
        padding: 0;
        display: flex;
        gap:25px ;
        flex-wrap: wrap;
        flex-direction: row;

        li{

            width:45%;
            height:150px;
            padding: 26px 17px;
            border: 1px solid lightgray;
            border-radius: 8px;
            flex-shrink: 0.8;
            position: relative;
            

            p{
                padding: 0;
                margin: 0;
            }

            .name{
               color:#126fdb;
               font-size: 0.9rem;
               font-weight: 620;
               margin:0px 0px 15px 0px; 
            }
        
            .privacy{

                font-size: 0.8rem;
                font-weight: 600;
                color:#7d858e;
                padding: 2px 5px;
                border: 1px solid lightgray;
                border-radius: 5px;
                position: absolute;
                right:20px;
                top:21px;
                
            }
        
            .desc{
                height:37%;
                font-size: 0.75rem;
                font-family: 900;
                color:#82878e;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* Show only 2 lines of text */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
               
            }
        
            .type{
                   display: flex;
                   font-size: 0.8rem;
                   position: absolute;
                   bottom:25px;
                   left:17px;
          
                span{
                    width:10px !important;
                    height:10px !important;
                    margin: 4px 2px 0px 0px;
                    border: 1px solid yellow;
                    border-radius: 5px;
                    display: block;
                    
                    
                }
             }

             .author{

                font-size: 0.8rem;
                position: absolute;
                bottom:25px;
                right:17px;

                img{
                    width:19px;
                    height:19px;
                    position: relative;
                    top:4px;
                   }

             }

        }
    }
    
}