.projectDetails {
  width: 40%;
  margin: 15px 15px;
  height: auto;
  padding: 5px;
  border: 1px solid lightgray; }
  .projectDetails h3 {
    font-size: 25px; }
  .projectDetails p {
    font-size: 20px;
    margin-left: 10px; }
    .projectDetails p span {
      font-size: 15px;
      text-indent: 10px;
      margin-left: 10px; }

.issueForm {
  width: 40%;
  padding: 15px;
  margin: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #fad7d7;
  display: none;
  position: absolute;
  top: 185px;
  right: 15px; }
  .issueForm form {
    display: none; }
    .issueForm form textarea {
      width: 90%; }
    .issueForm form input[type="text"] {
      width: 90%; }
    .issueForm form #description {
      margin: 5px 0px 10px 0px; }

.CreatenewIssue {
  color: aliceblue;
  font-weight: 600;
  padding: 9px 10px;
  border-radius: 7px;
  background-color: #1f883d;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 135px; }

.CreatenewIssue:hover {
  color: white;
  background-color: #187231; }
