#project-list {
  width: 100%;
  height: auto;
  padding: 25px 55px;
  position: relative; }
  @media (max-width: 540px) {
    #project-list {
      padding: 45px 30px; } }
  #project-list .Createnewbtn {
    color: aliceblue;
    font-weight: 600;
    padding: 9px 15px;
    border-radius: 7px;
    background-color: #1f883d;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 40px; }
  #project-list .Createnewbtn:hover {
    color: white;
    background-color: #187231; }
  #project-list h3 {
    color: #787a7d;
    font-weight: 400;
    font-size: 1.2rem; }
  #project-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: row; }
    @media (max-width: 900px) {
      #project-list ul {
        flex-direction: column; } }
    #project-list ul li {
      width: 45%;
      height: 150px;
      padding: 26px 17px;
      border: 1px solid lightgray;
      border-radius: 8px;
      flex-shrink: 0.8;
      position: relative;
      cursor: pointer; }
      @media (max-width: 900px) {
        #project-list ul li {
          width: 100%; } }
      #project-list ul li p {
        padding: 0;
        margin: 0; }
      #project-list ul li .name {
        color: #126fdb;
        font-size: 0.9rem;
        font-weight: 620;
        margin: 0px 0px 15px 0px; }
      #project-list ul li .privacy {
        font-size: 0.8rem;
        font-weight: 600;
        color: #7d858e;
        padding: 2px 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
        position: absolute;
        right: 20px;
        top: 21px; }
      #project-list ul li .desc {
        font-size: 0.75rem;
        font-family: 900;
        color: #82878e;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Show only 2 lines of text */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
      #project-list ul li .type {
        display: flex;
        font-size: 0.8rem;
        position: absolute;
        bottom: 25px;
        left: 17px; }
        #project-list ul li .type span {
          width: 10px !important;
          height: 10px !important;
          margin: 4px 2px 0px 0px;
          border: 1px solid yellow;
          border-radius: 5px;
          display: block; }
      #project-list ul li .author {
        font-size: 0.8rem;
        position: absolute;
        bottom: 25px;
        right: 17px; }
        #project-list ul li .author img {
          width: 19px;
          height: 19px;
          position: relative;
          top: 4px; }
      #project-list ul li .delete-button {
        background-color: #e7e9eb;
        padding: 2px 7px;
        font-size: 11px;
        width: 20px;
        height: 20px;
        border-radius: 0px 8px 0px 0px;
        color: black;
        font-weight: 600;
        position: absolute;
        right: 0px;
        top: 0px; }
      #project-list ul li .delete-button:hover {
        background-color: #ff7b7b;
        color: white; }
    #project-list ul li:hover {
      box-shadow: 1px 1px 13px 2px lightgray;
      border: none; }
